language: bash

os:
  - linux
  - osx

dist: trusty
sudo: false

addons:
  apt:
    sources:
    - debian-sid # Needed for shellcheck
    packages:
    - man
    - shellcheck
    - python-docutils # Needed for rst2man

env:
  global:
    - secure: "dFVeGQy4ngj5IgSyvZZpHn1r+AycBR6v8UMMQ/COkXfsPNuiTjAoO5VeVc2RibOT7TCs5w5pp5z/uRE8GBAif+Lrpt2KPkDr1eIoq6epgBi5LhF68wWLnLZVTNir3Tba0QFU4auO68PRbLQvjujkql3u8NIH6EStF03ypuwQzr8/jddTxW0sFqSBkC1O3EE5kgzY8GvW/UOI9PD+2ebEUBSCJBvpYqmpEnL9NOcUHvITWhJXT0q0qulJau1BbmMUT5uIHBnQ0A5HCcMJmRPfDOF/qYnhg4pKOjWsSOwA5itSKgdVxuAIabQ4L3FIKOGmw5mDGTsh1PpQwLD2Bfj0vjw/WhZNgXKzh5BRx/sBzh6tyZ9xfAd9eKWaMsG3shvJfPlCMGCgQGLc/+4fVRl/VNPyjFg1nEGa1wM9UwHc7J2wPn6GDQwmXCViKs/exvfkdJtm3CqnnE/4U+1jWAjbArmBWgDd/G71ytWgG3tPnrG9mQZfS+NgM61BxmMLkTh1zTYrdv6UoLrJXXW2atSkRPiV6GpcRegmW939RJ0Ymb4tosH6OrbE0vHAEtRKAzygNM9njRYkx4hO0tmPTaTpRDF/JCg7mu9OkgwfmK9L5ouJ3SfwxKnKZE/dY4KxJq8+asYJ2VNic70cz4Aq2X6/mZ4vDurPBv6/wdtre/9zc5g="
  matrix:
    - DIST=regular DEPLOY_FILE=omgf-*.tar.gz
    - DIST=single DEPLOY_FILE=omgf.sh

before_install:
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew update
      brew tap homebrew/dupes
      brew install shellcheck docutils
      ln -s /usr/local/bin/rst2man.py /usr/local/bin/rst2man
      brew reinstall coreutils gnu-sed gnu-getopt gawk
      export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
      export PATH="/usr/local/opt/gnu-sed/libexec/gnubin:$PATH"
      export PATH="/usr/local/opt/gnu-getopt/bin:$PATH"
    fi
  - export PREFIX=$HOME/opt
  - mkdir -p $PREFIX/bin
  - export PATH=$PREFIX/bin:$PATH

install:
  # Install latest release of BUTT for Bash testing
  - curl -sL https://github.com/InternetGuru/butt/releases/download/v0.3.0/butt.sh > $PREFIX/bin/butt
  - chmod +x $PREFIX/bin/butt

before_script:
  - |
    if [[ $DIST == regular ]]; then
      ./configure \
        && make \
        && cat compiled/install \
        && compiled/install \
        || return $?
      if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then PREFIX=/usr/local make dist; fi
    fi
  - |
    if [[ $DIST == single ]]; then
      ./configure \
        && make distsingle \
        && cp omgf.sh $PREFIX/bin/omgf
    fi

script:
 - shellcheck omgf
 - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      butt -vs1 test/test.butt
    else
      butt -v test/test.butt
    fi

deploy:
  - provider: releases
    api_key: "$GITHUB_TOKEN"
    file: "$DEPLOY_FILE"
    skip_cleanup: true
    file_glob: true
    on:
      repo: InternetGuru/omgf
      tags: true
      condition: $TRAVIS_OS_NAME = linux
  - deploy:
    provider: script
    script: "scripts/changelog-latest CHANGELOG.md | scripts/travis-update-release"
    on:
      repo: InternetGuru/omgf
      tags: true
      condition: $TRAVIS_OS_NAME = linux

matrix:
  fast_finish: true

notifications:
  slack:
    secure: qdgMIC+X9sgi0Y1ewzOjvFtxn7vCD7jCPAEqnsr3ruL7dT9dv5WaumJvNd3wpIWhAwjZwZ0FpCv50RB6QXPV4Mlc+RLwYI/CdOmBklifCOZIgJ+mvsJK4stZrodXxPc4nZ6vlAECIEkp3hQJOpqVSJfgoPVCi1AdKni3fXGGWVxPSUBkAN7JUs5bKXIMks0lYQ3yhzInvViy+o/ZTgIK9e35b+ykQqcIEdbpePbfXAEG8bE7z0m+r4Pp3yIS9QgX5eTvQOxMrtVK4KVFuzwj8A5KI37jfMDh09WohC60G1Fw1PpeDbb9FfXiWDU+ONsWZkW6r4VUMrrIBh6oWyHRMDeUkh12FQhcrmHX+adzOHbjFQcIGPYnBZmsKEZYPSf/NOzptWai4pgcDUg/t3kvXHpmCmtIwWxCfqR2bFjp3btXIDWycaHTvpOLyiy+Zsaj/5sEA6a1zfb1mmFn3rQPOl8rzMTlvS0hWdmTUEwnYpKBTwutNnEHZPfpqs8l0ndE9q0xy3bMAiCnufloR8/xnNJLHpnmljTCXdu8rk7KlGnElI9kGguzS97faAJ3UmU3OCd8vLTF9bfoBvTGJsFqBL5fV//V/fe6hRq6Q7QtWw/xKZz6z/zlaQg/RsOqwTKzermTdCSDQH91KE0rK9FvKIs4dYoU8CEuzVzQMSkhM1o=
